{% extends "schedule/base.html" %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Shadows+Into+Light&display=swap" rel="stylesheet">

<style>
	h4 { color: black; padding:.2em; border-style: solid; background-color: #F5DEB3; }
</style>


<html>
	<h1><mark> About AutoVisor </h1></mark>
	<h2>   </h2>
	<h4>AutoVisor is a web based application that has automated the advising system that benefits both advisors and students by
		recommending appropriate courses to students based on their preferences and major requirements. The application parses
		through a student's past courses, academic performance, graduation requirements, course prerequisites, and availability
		to suggest what classes the student might be interested in going forward. The primary purpose of this application is to
		streamline the process of getting immediate, personalized advising for their major and to remove advising holds in a matter of seconds.</h4>
</html>

{% endblock content %}
