{% extends "schedule/base.html" %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Shadows+Into+Light&display=swap" rel="stylesheet">

<html>

    <h1><mark> Community Portal</h1></mark>

 <hr>
    <h4>  <button id="myButton" class="button button1" >Accept Friend request</button>

      <button id="myButtonsss" class="button button3" >Decline Friend request</button>

    <button id="myButtons" class="button button2">Send Friend request</button>

		<button id="myButtonss" class="button button3">Delete Friend</button></h4>
  <table>
        <thead>
          <tr>
              <th>Friend Requests</th>
          </tr>
        </thead>

        <tbody>
          {% for friendreqs in student.friendRequests.all %}
              <tr>
              <td>{{friendreqs}}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>


  <table>
        <thead>
          <tr>
              <th>Friend Lists</th>
          </tr>
        </thead>

        <tbody>
          {% for friends in student.friends.all %}
              <tr>
              <td>{{friends}}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>



<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
          window.location.href = "/community/accept_friendreq"
    };
</script>

<script type="text/javascript">
    document.getElementById("myButtons").onclick = function () {
          window.location.href = "/community/send_friendreq"
    };
</script>

<script type="text/javascript">
    document.getElementById("myButtonss").onclick = function () {
          window.location.href = "/community/delete_friend"
    };
</script>

<script type="text/javascript">
    document.getElementById("myButtonsss").onclick = function () {
          window.location.href = "/community/decline_friendreq"
    };
</script>



</html>

{% endblock content %}
